#can{
    display: flex;
    width: 80%;
}
.hank{
    background-color: aqua;
    width: 50%;
    padding: 70px;
    color: snow;
}
.joke{
    background-color: snow;
    width: 50%;
    padding: 40px;
}
h1{
    text-align: center;
    font-weight: bolder;
    color: snow;
}
.hank{
    text-align: center;
}
input[type=text],input[type=email],input[type=number],input[type=text]{
    padding-left: 30px;
     width: 80%;
    height: 40px;
}
textarea{
     width: 85%;
    height: 100px;

}
button{
    border-radius: 10px;
    width: 30%;
    height: 40px;
    background-color: aqua;
    place-items: center;
}
legend{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

